.main-footer {
  background-color: var(--background-tertiary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  box-sizing: border-box;
  color: var(--text-secondary-color);
}

.main-footer .footer-content {
  text-align: center;
}

.main-footer .footer-content img {
  margin-bottom: 16px;
}

.main-footer .footer-content p {
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-weight);
  margin-bottom: 8px;
}

.main-footer .footer-social {
  text-align: center;
  margin-top: 24px;
}

.main-footer .footer-social p {
  margin-bottom: 16px;
}

.main-footer .footer-social .social-items {
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .main-footer {
    padding: 32px 60px;
  }

  .main-footer .footer-content p {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 52px 62px;
  }

  .main-footer .footer-content {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .main-footer {
    padding: 52px 120px;
  }
}
